---
kind: CustomResourceDefinition
apiVersion: apiextensions.k8s.io/v1
metadata:
  name: datamanagerjobs.squonk.it
spec:
  conversion:
    strategy: None
  group: squonk.it
  names:
    kind: DataManagerJob
    listKind: DataManagerJobList
    plural: datamanagerjobs
    singular: datamanagerjob
  scope: Namespaced
  versions:
  - name: v3
    served: true
    storage: true
    additionalPrinterColumns:
    - name: Image
      type: string
      description: The Job Image
      jsonPath: .spec.imDataManager.image
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              # All 'expected' DataManager-injected material
              # will be namespaced by the property 'imDataManager'
              imDataManager:
                x-kubernetes-preserve-unknown-fields: true
                type: object
                properties:
                  debug:
                    type: boolean
                    description: >-
                      Set this to prevent the operator from automatically
                      deleting the corresponding Job and its Pod when the
                      Job finishes. The Pod will remain, allowing a developer
                      to debug its behaviour. The Job and Pod will need to
                      be deleted manually to avoid filling the namespace with
                      completed Jobs and Pods.
                  image:
                    type: string
                  imageType:
                    type: string
                  pullSecret:
                    type: string
                  command:
                    type: string
                  taskId:
                    type: string
                  projectMount:
                    type: string
                  workingDirectory:
                    type: string
                  workingSubPath:
                    type: string
                  resources:
                    type: object
                    properties:
                      limits:
                        type: object
                        properties:
                          cpu:
                            type: string
                          memory:
                            type: string
                      requests:
                        type: object
                        properties:
                          cpu:
                            type: string
                          memory:
                            type: string
                  securityContext:
                    type: object
                    properties:
                      runAsUser:
                        type: integer
                      runAsGroup:
                        type: integer
                      fsGroup:
                        type: integer
                  project:
                    type: object
                    properties:
                      claimName:
                        type: string
                      id:
                        type: string
                  labels:
                    type: array
                    items:
                      type: string
                  environment:
                    type: array
                    items:
                      type: string
                  file:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        content:
                          type: string
                        origin:
                          type: string
              # Additional (unknown) properties.
              # These will not be pruned by Kubernetes and are used
              # for future feature content
              # that may be migrated to the 'imDataManager' block.
              imDataManagerExtras:
                x-kubernetes-preserve-unknown-fields: true
