---
kind: Deployment
apiVersion: apps/v1
metadata:
  namespace: {{ jo_namespace }}
  name: job-operator
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      application: job-operator
  template:
    metadata:
      labels:
        application: job-operator
    spec:
      serviceAccountName: job-operator

      # Prefer 'application' nodes before 'core'
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: informaticsmatters.com/purpose-application
                operator: Exists

      containers:
      - name: job-operator
        image: {{ jo_image }}:{{ jo_image_tag }}
{% if jo_image_tag in ['stable', 'latest'] %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        env:
{% if jo_apply_pod_priority_class %}
        - name: JO_APPLY_POD_PRIORITY_CLASS
          value: 'true'
{% endif %}
        - name: JO_POD_PRE_DELETE_DELAY_S
          value: '{{ jo_pre_delete_delay_s }}'
        - name: JO_POD_NODE_SELECTOR_KEY
          value: '{{ jo_pod_node_selector_key }}'
        - name: JO_POD_NODE_SELECTOR_VALUE
          value: '{{ jo_pod_node_selector_value }}'
        - name: JO_NF_EXECUTOR_QUEUE_SIZE
          value: '{{ jo_nf_executor_queue_size }}'
{% if jo_nf_ansi_log %}
        - name: JO_NF_ANSI_LOG
          value: 'true'
{% endif %}
        - name: JO_POD_DEFAULT_CPU
          value: '{{ jo_pod_default_cpu }}'
        - name: JO_POD_DEFAULT_MEMORY
          value: '{{ jo_pod_default_memory }}'
        resources:
          requests:
            cpu: {{ jo_cpu_request }}
            memory: {{ jo_mem_request }}
{% if jo_cpu_limit or jo_mem_limit %}
          limits:
{% if jo_cpu_limit %}
            cpu: {{ jo_cpu_limit }}
{% endif %}
{% if jo_mem_limit %}
            memory: {{ jo_mem_limit }}
{% endif %}
{% endif %}
